@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic');

body {
    background: #223 no-repeat center center fixed !important; 
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    color: #fff !important;
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
}

#content {
  background: #223;
  padding: 20px;
}

#logo {
    display: block;
    margin: 0 auto;
}

#tagline {
    font-size: 36pt;
    color: #fe53e0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#appstore {
    padding-bottom: 20px;
}

#services img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    vertical-align: text-bottom;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#services {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.service,
.service:hover {
    margin: 8px;
    color: #fff;
    text-decoration: none;
}

.service span {
    display: block;
}

.nonclickable {
    cursor: pointer;
}

footer {
  padding: 10px;
  text-align: left;
}

footer,
footer a {
  color: #ccc;
  text-decoration: none;
}

footer a:hover {
  color: #aaa;
}

#credits {
  position: absolute;
  bottom: 50px;
  left: 10px;
}

#credits,
#credits a,
#credits a:hover {
  font-size: 10pt;
  color: rgba(255,255,255,0.8);
}

#people {
  margin: 0 auto;
  border-radius: 10px;
  padding-bottom: 25px;
}

#avatars {
  display: inline;
}

#avatars img {
  height: 64px;
  margin: 3px;
  border-radius: 50%;
  background: #fff;
  padding: 4px;
}

#avatars a {
  outline: 0;
}

.admin {
  border: 3px solid lime;
}

.mod {
  border: 3px solid yellow;
}

.donator {
  border: 3px solid magenta;
}

#admin {
  color: lime;
  text-align: left;
  padding-left: 20px;
}

#mod {
  color: yellow;
  text-align: left;
  padding-left: 20px;
}

#donator {
  color: magenta;
  text-align: left;
  padding-left: 20px; 
}

#infrastructure {
  color: red;
  text-align: left;
  padding-left: 20px; 
}

#legend li {
  display: inline;
  padding: 0;
  padding-right: 6px;
}

#legend {
  margin-top: 16px;
}

.admin2 {
  background: lime !important;
  padding: 4px !important;
}

.mod2 {
  background: yellow !important;
  padding: 4px !important;
}

.infrastructure2 {
  background: red !important;
  padding: 4px !important;
}

.donator2 {
  background: magenta !important;
  padding: 4px !important;
}

@media(max-width:800px) {
    #services {
        display: block;
    }
    .service {
        display: inline-block;
    }
    #right-footer {
      display: none;
    }
}

@media(min-width:800px) {
  #content {
    display: block;
    margin: 0 auto;
    width: 50%;
    border-radius: 10px;
  }
}

@media(max-width:1300px) {
  #credits {
    display: none;
  }
}

.internal {
  display: block !important;
}
