@font-face {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    src: local('Titan One'), local('TitanOne'), url(/fonts/titan-one.woff2) format('woff2');
}

@font-face {
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 400;
    src: local('Didact Gothic Regular'), local('DidactGothic-Regular'), url(/fonts/didact-gothic.woff2) format('woff2');
}

body {
    color: #fff;
    font-family: 'Didact Gothic', sans-serif !important;
    text-align: center;
    background-image: url(/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #223;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 102vw;
    height: 100vh;
    background-color: #223;
    background-image: url("/img/loading.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#error {
    padding-top: 58vh;
}

#logo {
    font-family: 'Titan One', cursive !important;
    font-size: 48pt;
    color: #fe53e1;
    padding-top: 114px;
}

.logofont {
    font-family: 'Titan One', cursive !important;
}

#logo img {
    vertical-align: middle;
    margin-bottom: 15px;
}

#tagline {
    font-weight: 300;
    margin-top: 20px;
}

#sponsors {
    background: #223;
    max-width: 30%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 25px;
    margin-top: 60px;
}

#avatars {
    display: inline;
}

#avatars img {
    height: 64px;
    margin: 3px;
    border-radius: 50%;
}

#avatars a {
    outline: 0;
}

.admin {
    border: 3px solid lime;
}

.mod {
    border: 3px solid yellow;
}

.donator {
    border: 3px solid magenta;
}

#admin {
    color: lime;
    text-align: left;
    padding-left: 20px;
}

#mod {
    color: yellow;
    text-align: left;
    padding-left: 20px;
}

#donator {
    color: magenta;
    text-align: left;
    padding-left: 20px; 
}

#infrastructure {
    color: blue;
    text-align: left;
    padding-left: 20px; 
}

#legend {
    margin-top: 60px;
}

#legend li {
    list-style: square;
}

.admin2 {
    outline: 3px solid lime;
}

.mod2 {
    outline: 3px solid yellow;
}

.infrastructure2 {
    background: blue;
    padding: 5px;
}

.donator2 {
    background: magenta;
    padding: 5px;
}

#login {
    float: left;
    position: absolute;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: bold;
    background: #fe53e1;
    padding: 10px;
    border-radius: 4px;
    margin-top: -20px;
}

#login a {
    color: #fff;
    text-decoration: none;
}

#login svg {
    vertical-align: middle;
    margin-top: -2px;
}

#donate {
    float: right;
    position: relative;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    background: #f6c915;
    padding: 10px;
    border-radius: 4px;
    margin-top: -20px;
}

#donate a {
    text-decoration: none;
}

#donate img {
    vertical-align: middle;
}

#cards {
    position: relative;
}

.card-content {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    font-size: 24pt;
    color: #fff;
    background: #223;
    width: 100%;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 0.75;
}

.card-content small {
    font-size: 10pt;
    padding-top: -30px;
    font-weight: 300;
}

#cards {
    display: block;
    margin: 0 auto;
}

#cards:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    min-width: 300px;
    min-height: 300px;
    position: relative;
    border-radius: 10px;
    float: left;
    padding: 0;
    margin-left: 30px;
    margin-top: 20px;
}

.content {
    min-height: 100%;
}

.content-inside {
    padding: 20px;
    padding-bottom: 50px;
}

.content2 {
    width: 75%;
    display: block;
    margin: 0 auto;
    background: #223;
    color: #fff;
    margin-top: 80px !important;
    min-height: 80vh;
    border-radius: 10px;
    padding: 30px;
    text-align: left;
}

.content2 h1 {
    font-weight: 100;
    text-align: center;
    line-height: 2;
}

.content2 img {
    padding: 30px;
}

.content2 a,
.content2 a:visited {
    color: #fff;
}

.content2 a:hover {
    text-decoration: none;
}

.footer {
    margin-top: -50px;
    width: 100%;
    text-align: left;
    padding: 10px;
    padding-left: 18px;
    background: #223;
    margin: -8px;
    position: absolute;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    #sponsors {
        max-width: 80%;
    }

    .footer {
        position: relative;
        bottom: auto;
    }

    #donate,
    #login {
        display: none;
    }

    .card {
        display: block;
        margin-bottom: 20px;
    }

    #cards {
        text-align: center;
    }

    #tagline {
        font-size: 14pt;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    #logo {
        font-size: 24pt;
	    margin-top: -60px;
    }

    #logo img {
        height: 38pt;
        margin-bottom: 8px;
    }

    .footer {
        position: relative;
    }

    .content2 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        height: 75%;
    }

    .content2 iframe {
        width: 100% !important;
    }
}

#nav {
    background-color: #223;
    margin-top: 0;
}

#nav li:hover {
    background: #fe53e1;
}

@media(min-width: 1024px) {
    #cards {
        width: 80%;
        padding-left: 10%;
    }

    #nav {
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        overflow: hidden;
    }

    #links > li {
        float: left;
        list-style-type: none;
    }

    #links > li:last-child {
        border-right: none;
    }

    #nav a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    #nav svg {
        vertical-align: middle;
    }

    #nav .fa {
        padding: 5px;
    }

    #nav .icon {
        display: none;
    }

    .right {
        float: right !important;
    }

    #links {
        margin-top: 0;
        display: block !important;
    }
    
    .mobile {
        display: none !important;
    }

    ul.jabber {
        list-style: none;
    }
    
    .jabber li:hover {
        background: transparent !important;
    }
    
    .jabber li:first-child {
        position: absolute;
    }
}

.footer .grid,
.logo-resources {
    display: none;
}

::-webkit-scrollbar-track {
    background: #171727 !important;
}

::-webkit-scrollbar:hover {
    background: #171727 !important;
}

::-webkit-scrollbar-thumb {
    background: #222233 !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #222233 !important;
}

::-webkit-scrollbar-track:hover {
    background: #171727  !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  scrollbar-color: #181824 rgba(0, 0, 0, 0.1) !important;
}

@media(max-width:1024px) {
    #nav {
        overflow: hidden;
        position: relative;
    }

    #nav #links {
        display: none;
        padding-left: 0;
    }

    #nav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    #nav a.icon {
        background: #112;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    #nav a.logofont:hover {
        background-color: #223;
    }

    #nav li {
        list-style: none;
    }

    .desktop {
        display: none !important;
    }
}