@import 'flavours/glitch/styles/index';

$accent-color: #d35400;
$background-color: #000;
$loading: "https://koyu.space/emoji/1f383.svg";
$logo: "https://koyu.space/emoji/1f383.svg";
$input-color: #111;
$scroll-primary: #000;
$scroll-secondary: #d35400;

@import 'flavours/glitch/styles/flat';