<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>koyu.space</title>
        <link rel="stylesheet" href="/about.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
        <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
        <script src="/jquery.js"></script>
        <script src="/about.js"></script>
        <script>if (window.module) module = window.module;</script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="overflow: hidden;">
        <noscript>
            <div style="position: absolute; z-index: 3000;height: 114vh; width: 100vw; background-color: #223; color: #fff;">
                <p><b style="width: 300px; height: 200px; z-index: 15; top: 50%; left: 50%; margin: -100px 0 0 -150px; position: absolute;">Please enable JavaScript to view this page.</b></p>
            </div>
        </noscript>
        <div class="page">
            <div id="intro">
                <div id="nav">
                    <li class="mobile"><a href="/" class="logofont"><i class="fa fa-circle-o" aria-hidden="true"></i> koyu.space</a></li>
                    <ul id="links">
                        <li class="right"><a href="/auth/sign_in"><i class="fa fa-sign-in" aria-hidden="true"></i> <span id="login-text">Login or sign-up</span></a></li>
                        <li class="right"><a href="/public"><i class="fa fa-globe" aria-hidden="true"></i> <span id="public-text">Public timeline</span></a></li>
                        <li class="right"><a href="/explore"><i class="fa fa-address-book-o" aria-hidden="true"></i> <span id="explore-text">Profile directory</span></a></li>
                        <li><a href="https://blog.koyu.space" target="_blank"><i class="fa fa-book" aria-hidden="true"></i> <span id="blog-text">Blog</span></a></li>
                        <li><a href="https://creapaid.com/koyuspace" target="_blank"><i class="fa fa-heart" aria-hidden="true"></i> <span id="donate-text">Donate</span></a></li>
                        <li><a href="https://github.com/koyuspace" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> <span id="foss-text">Open Source</span></a></li>
                        <li><a href="https://t.me/s/koyuspace" target="_blank"><i class="fa fa-paper-plane" aria-hidden="true"></i> Telegram</a></li>
                        <li><a href="https://discord.gg/8gbd7YR" target="_blank"><i class="fa fa-discord" aria-hidden="true"></i> Discord</a></li>
                    </ul>
                    <a href="javascript:void(0);" class="icon" onclick="hamburger()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div id="logo"><img src="/img/pb-icon.svg" alt="Logo"> koyu.space</div>
                <h1 id="tagline">We are creating free internet services for you and your friends.</h1>
                <div id="appstore">
                    <a href="https://play.google.com/store/apps/details?id=com.Sommerlichter.social" target="_blank"><img alt="Get it on Google Play" height="64" id="gp-badge" src="/img/gp.png"></a>
                </div>
                <div id="cards">
                    <a href="https://koyu.space/auth/sign_in"><div style="background: url(/img/services/koyuspace.jpg);background-size: cover;background-position: top;" class="card"><div class="card-content" id="card1">koyu.space</div></div></a>
                    <a href="https://nordcast.app" target="_blank"><div style="background: url(/img/services/nordcast.jpg);background-size: cover;background-position: bottom;" class="card"><div class="card-content" id="card5">Nordcast</div></div></a>
                    <a href="https://mc.koyu.space" target="_blank"><div style="background: url(/img/services/minecraft.png);background-size: cover;background-position: bottom;" class="card"><div class="card-content" id="card4">Minecraft</div></div></a>
                    <a href="https://vhs.koyu.space" target="_blank"><div style="background: url(/img/services/vhs.jpg);background-size: cover;background-position: bottom;" class="card"><div class="card-content" id="card7">koyu.space VHS</div></div></a>
                </div>
            </div>
            <div class="content">
                <div id="sponsors">
                    <h2 id="sponsors-intro">koyu.space is brought to you by</h2>
                    <div id="avatars">
                        <a href="https://koyu.space/@koyu" acctid="1"><img></a>
                        <a href="https://koyu.space/@zack" acctid="159303"><img></a>
                        <a href="https://koyu.space/@Fyrfaras" acctid="112565"><img></a><br>
                        <a href="https://koyu.space/@Einhjeriar" acctid="35232"><img></a>
                        <a href="https://koyu.space/@TastyTentacles" acctid="39353"><img></a>
                        <a href="https://koyu.space/@dafne" acctid="218768"><img></a>
                        <a href="https://koyu.space/@kettlevoid" acctid="193286"><img></a>
                    </div>
                </div>
                <section id="whatis">
                    <h2>What is koyu.space?</h2>
                    <p>koyu.space is an open source social network. Similar to Twitter or Tumblr, users can make profiles, post messages, images or videos,
and of course follow other users. Messages follow a 800 character limit and are displayed in a chronological order. Unlike other platforms, however, koyu.space is decentralized, meaning that there is no
one server, company or person running it. While other social media platforms are owned and operated by a single corporation who has
full control over everything, anyone can create and run their own server of koyu.space.</p>
                </section>
                <section id="youready">
                    <h2>Are you ready?</h2>
                    <a href="/auth/sign_up" class="btn">Get started</a>
                </section>
                <div class="footer">
                    <p><span style="color: #fe53e1;" class="logofont right desktop">koyu.space</span><a href="/about/more" id="more">Imprint & Terms of Service</a> | <a href="/terms" id="privacy">Privacy</a></p>
                </div>
            </div>
        </div>
        <div id="loading"></div>
    </body>
</html>