<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>koyu.space</title>
        <link rel="stylesheet" href="/about.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
        <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="/about.js"></script>
        <script>if (window.module) module = window.module;</script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="overflow: hidden;">
        <noscript>
            <div style="position: absolute; z-index: 3000;height: 114vh; width: 100vw; background-color: #223; color: #fff;">
                <p><b style="width: 300px; height: 200px; z-index: 15; top: 50%; left: 50%; margin: -100px 0 0 -150px; position: absolute;">Please enable JavaScript to view this page.</b></p>
            </div>
        </noscript>
        <div class="page">
            <div id="nav">
                <li class="mobile"><a href="/" class="logofont"><i class="fa fa-circle-o" aria-hidden="true"></i> koyu.space</a></li>
                <ul id="links">
                    <li><a href="/" class="logofont desktop"><i class="fa fa-circle-o" aria-hidden="true"></i> koyu.space</a></li>
                    <li><a href="https://blog.koyu.space" target="_blank"><i class="fa fa-book" aria-hidden="true"></i> <span id="blog-text">Blog</span></a></li>
                    <li><a href="https://liberapay.com/koyu.space" target="_blank"><i class="fa fa-liberapay" aria-hidden="true"></i> <span id="donate-text">Donate</span></a></li>
                    <li><a href="https://gitlab.com/users/koyuawsmbrtn/projects" target="_blank"><i class="fa fa-gitlab" aria-hidden="true"></i> <span id="foss-text">Open Source</span></a></li>
                    <li><a href="https://t.me/s/koyuspace" target="_blank"><i class="fa fa-paper-plane" aria-hidden="true"></i> Telegram</a></li>
                    <li><a href="mailto:support@koyu.space" id="contact-button"><i class="fa fa-address-card" aria-hidden="true"></i> <span id="contact-text">Contact</span></a></li>
                    <li class="right"><a href="/auth/sign_in"><i class="fa fa-sign-in" aria-hidden="true"></i> <span id="login-text">Login or sign-up</span></a></li>
                    <li class="right"><a href="/public"><i class="fa fa-globe" aria-hidden="true"></i> <span id="public-text">Public timeline</span></a></li>
                    <li class="right"><a href="/explore"><i class="fa fa-address-book-o" aria-hidden="true"></i> <span id="explore-text">Profile directory</span></a></li>
                </ul>
                <a href="javascript:void(0);" class="icon" onclick="hamburger()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="content">
                <div id="logo"><img src="https://themedata.koyu.space/img/pb-icon.svg" alt="Logo"> koyu.space</div>
                <h1 id="tagline">We are creating free internet services for you and your friends.</h1>
                <div id="appstore">
                    <a href="https://play.google.com/store/apps/details?id=com.Sommerlichter.social" target="_blank"><img alt="Get it on Google Play" height="64" id="gp-badge" src="/img/gp.png"></a>
                </div>
                <div id="cards">
                    <a href="https://koyu.space/auth/sign_in"><div style="background: url(https://images.unsplash.com/photo-1542931287-023b922fa89b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=300&q=80);background-position: center -80px;" class="card"><div class="card-content" id="card1">koyu.space<br><small>(Fediverse instance)</small></div></div></a>
                    <a href="https://nordcast.app" target="_blank"><div style="background: url(https://images.unsplash.com/photo-1526328828355-69b01701ca6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80);background-size: cover;background-position: center -60px;" class="card"><div class="card-content" id="card5">Nordcast<br><small>(Podcast app)</small></div></div></a>
                    <a href="https://matrix.to/#/#koyuspace:matrix.org" target="_blank"><div style="background: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=300&q=80);background-size: cover;background-position: center -60px;" class="card"><div class="card-content" id="card3">Matrix<br><small>(Chat)</small></div></div></a>
                    <a href="https://mc.koyu.space" target="_blank"><div style="background: url(https://f001.backblazeb2.com/file/koyuspace-media/media_attachments/files/003/839/037/original/a93032d81f1efeac.png);background-size: cover;background-position: center -60px;" class="card"><div class="card-content" id="card4">Minecraft server<br><small>(mc.koyu.space)</small></div></div></a>
                    <a href="../jabber/"><div style="background: url(https://images.unsplash.com/photo-1495291916458-c12f594151e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80);background-size: cover;background-position: -80px center;" class="card"><div class="card-content" id="card6">Jabber/XMPP<br><small>(jabber.koyu.space)</small></div></div></a>
                </div>
                <div id="sponsors">
                    <p id="sponsors-intro">koyu.space is brought to you by</p>
                    <div id="avatars">
                        <a href="https://koyu.space/@koyu" acctid="1"><img class="admin"></a>
                        <a href="https://koyu.space/@zack" acctid="159303"><img class="admin infrastructure2"></a>
                        <a href="https://koyu.space/@Fyrfaras" acctid="112565"><img class="admin donator2"></a><br>
                        <a href="https://koyu.space/@Einhjeriar" acctid="35232"><img class="admin"></a>
                        <a href="https://koyu.space/@TastyTentacles" acctid="39353"><img class="mod"></a>
                    </div>
                    <ul id="legend">
                        <li id="admin">Administrator</li>
                        <li id="mod">Moderator</li>
                        <li id="donator">Donator</li>
                        <li id="infrastructure">Infrastructure</li>
                    </ul>
                </div>
                <br><br><br><br>
                <div class="footer">
                    <p>&copy; koyu.space | <a href="/about/more" id="more">Imprint & Terms of Service</a> | <a href="/terms" id="privacy">Privacy</a></p>
                </div>
            </div>
        </div>
        <div id="loading"></div>
    </body>
</html>