<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>koyu.space</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/about-assets/style.css">
        <link rel="shortcut icon" href="https://koyu.space/favicon.ico">
        <link rel="me" href="https://koyu.space/@koyuchan">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/about-assets/app.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="https://koyu.space/img/pb-icon.svg" height="36" style="vertical-align: middle;" alt="Logo" id="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav me-auto mb-2 mb-lg-0">
                        <a class="nav-link active" id="home" aria-current="page" href="/">Home</a>
                        <a class="nav-link" id="apps" href="/apps/index.html">Apps</a>
                        <a class="nav-link" id="services" href="/about/more#services">Services</a>
                        <a class="nav-link" id="donate" href="https://creapaid.com/koyuspace" target="_blank">Donate</a>
                        <a class="nav-link" id="github" href="https://shop.koyu.space" target="_blank">Merch</a>
                        <a class="nav-link" id="github" href="https://github.com/koyuspace" target="_blank">GitHub</a>
                        <a class="nav-link" id="github" href="https://up.koyu.space" target="_blank">Uptime</a>
                    </div>
                    <div class="navbar-nav d-flex">
                        <a class="nav-link" id="login" href="/auth/sign_in/">Login</a>
                        <a class="nav-link" id="register" href="/auth/sign_up/">Register</a>
                    </div>
                </div>
            </div>
        </nav>
        <div id="content">
          <h1 id="tagline">We are koyu.space!</h1>
          <p id="bottom-text">...and create free internet services for you and your friends.</p>
          <div id="services">
              <a href="/" class="service">
                  <img src="/about-assets/pixel-icons/weapon01crystalsword.png" height="64">
                  <span>Mastodon</span>
              </a>
              <a href="mumble://mumble.koyu.space?title=koyu.space%20Mumble&version=1.2.0" class="service">
                  <img src="/about-assets/pixel-icons/loot02crystal.png" height="64">
                  <span>Mumble</span>
              </a>
              <a href="https://nitter.koyu.space" target="_blank" class="service">
                  <img src="/about-assets/pixel-icons/loot03bag.png" height="64">
                  <span>Nitter</span>
              </a>
              <a href="https://vhs.koyu.space" target="_blank" class="service">
                  <img src="/about-assets/pixel-icons/glass05red.png" height="64">
                  <span>PeerTube</span>
              </a>
              <a href="gemini://koyu.space" target="_blank" class="service">
                  <img src="/about-assets/pixel-icons/magic02spellbook.png" height="64">
                  <span>Gemini</span>
              </a>
              <a href="https://mc.koyu.space" target="_blank" class="service">
                  <img src="/about-assets/pixel-icons/armour01magiciansrobe.png" height="64">
                  <span>Minecraft</span>
              </a>
              <a href="https://stream.koyu.space" target="_blank" class="service">
                <img src="/about-assets/pixel-icons/magic06necklace.png" height="64">
                <span>Owncast</span>
              </a>
              <a href="mailto:support@koyu.space?subject=Subdomain%20Request&body=Hi%2C%0A%0AI%20want%20to%20request%20a%20subdomain%20for%20my%20project%20%5Bname%20here%5D%20with%20the%20CNAME%2FA%20record%20%5Brecord%20here%5D.%20The%20name%20for%20the%20subdomain%20should%20be%20%5Byoursubdomain%5D.koyu.space.%0A%0AThanks!" class="service">
                  <img src="/about-assets/pixel-icons/magic04ring.png" height="64">
                  <span>Subdomains</span>
              </a>
          </div><br><br>
          <div id="appstore">
            <a href="https://play.google.com/store/apps/details?id=com.Sommerlichter.social" target="_blank"><img alt="Get it on Google Play" height="64" id="gp-badge" src="/img/gp.png"></a>
          </div>
          <hr>
          <br><div id="people">
            <p id="made-possible">koyu.space is made possible by these friendly people:</p>
            <div id="avatars">
                <a href="https://koyu.space/@koyuchan" acctid="106495573126488505"><img class="admin2"></a>
                <a href="https://koyu.space/@shorl" acctid="223321"><img></a>
                <a href="https://koyu.space/@zack" acctid="159303"><img class="admin infrastructure2"></a>
                <a href="https://koyu.space/@Fyrfaras" acctid="112565"><img class="admin2"></a><br>
                <a href="https://koyu.space/@Einhjeriar" acctid="35232"><img class="mod"></a>
                <a href="https://koyu.space/@TastyTentacles" acctid="39353"><img class="mod donator2"></a>
                <a href="https://koyu.space/@Thorwaldson" acctid="82135"><img class="mod2"></a>
                <a href="https://koyu.space/@Kettlevoid" acctid="193286"><img class="mod2"></a>
                <a href="https://koyu.space/@PPprivacy" acctid="106258051599258729"><img class="donator2"></a>
                <a href="https://koyu.space/@Purrplenekoboi" acctid="32434"><img class="donator2"></a>
            </div>
            <ul id="legend">
              <li id="admin">Administrator</li>
              <li id="mod">Moderator</li>
              <li id="donator">Donator</li>
              <li id="infrastructure">Infrastructure</li>
            </ul>
          </div>
        </div><br><br>
        <div id="credits">
            <span id="attribution">Photo by</span> <a id="author" href="" target="_blank" rel="nofollow">{{author}}</a>. <span id="submission">You can submit your own photo <a href="mailto:support@koyu.space?subject=Frontpage%20photo%20submission&body=Hi%2C%0A%0AI%20want%20to%20submit%20the%20photo%20I%20made%20for%20the%20front%20page.%20You%20can%20find%20it%20in%20the%20attachments.%20For%20attribution%20my%20website%20is%20here%3A%20%5Byour%20website%20here%5D.%0A%0AThanks!">here</a>.</span>
        </div>
        <footer class="fixed-bottom navbar-dark bg-dark">
            &copy; 2021 koyu.space | <a href="/terms" id="privacy">Privacy</a> | <a href="/about/more" id="more">Community Guidelines</a> <span style="float: right;" id="right-footer">Tor: koyue6kifbepuk4mz25eygc2qfsnubpobovrbc6ctcniygv2vw4gi7yd.onion | <a href="mailto:support@koyu.space">Support</a></span>
        </footer>
    </body>
</html>
